.background {
    background-image: url('./back2.jpg');
    background-size: cover;
    background-position: center center;
    /* backdrop-filter: blur(5px); */
    width: 100vw;
    min-height: 100vh;
  }